h1 {
    color: green;
    margin-bottom: -20px;
    margin-top: -10px;
    font-size: 50px;
}

h2 {
    font-size: 30px;
}

.information {
    p {
        font-size: 20px;
    }
}   

img{
    width: 100%;
}

.two-column{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 50px;
    width: 80%;
    margin: auto;
    margin-top: 20px;
}